services:
  pastebins:
    image: ${IMAGE_NAME:-rlister/hastebin}:${TAG:-latest}
    container_name: pastebins
    {{- if ne .env.DEPLOY_MODE "swarm" }}
    restart: unless-stopped
    {{- end }}
    environment:
      - TZ=UTC
    ports:
      - "7777:7777"
    volumes:
      - ${MNT_DIR}/data/pastebins:/data
      - ${MNT_DIR}/config/pastebins:/config
    networks:
      - vnet-frontend
      - vnet-backend
    {{- if eq .env.DEPLOY_MODE "swarm" }}
    deploy:
      mode: replicated
      replicas: {{ default "1" .data.replicas }}
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    {{- end }}

networks:
  vnet-frontend:
    external: true
  vnet-backend:
    external: true
