services:
  postgres:
    image: postgres:${TAG:-16-alpine}
    container_name: postgres
    {{- if ne .env.DEPLOY_MODE "swarm" }}
    restart: unless-stopped
    {{- end }}
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes:
      - ${MNT_DIR}/data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-postgres}"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - vnet-backend
    {{- if eq .env.DEPLOY_MODE "swarm" }}
    deploy:
      mode: replicated
      replicas: {{ default "1" .data.replicas }}
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    {{- end }}

networks:
  vnet-backend:
    external: true
