services:
  signoz:
    image: ${IMAGE_NAME:-signoz/frontend}:${TAG:-latest}
    container_name: signoz
    {{- if ne .env.DEPLOY_MODE "swarm" }}
    restart: unless-stopped
    {{- end }}
    environment:
      - TZ=UTC
    ports:
      - "3301:3301"
    volumes:
      - ${MNT_DIR}/data/signoz:/data
      - ${MNT_DIR}/config/signoz:/config
    networks:
      - vnet-frontend
      - vnet-backend
    {{- if eq .env.DEPLOY_MODE "swarm" }}
    deploy:
      mode: replicated
      replicas: {{ default "1" .data.replicas }}
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    {{- end }}

networks:
  vnet-frontend:
    external: true
  vnet-backend:
    external: true
